<h1>New pelada</h1>

<%= render 'form' %>

<%= link_to 'Voltar', peladas_path %>

<script>
	$(document).ready(function(){
	  $('.money input').mask('#0.00', {reverse: true, maxlength: false});
	});
</script>